.navbar-light {
  background-color: #f8df1f;
}
.navbar-light ul {
  list-style-type: none;
}
.navbar-light ul li {
  display: inline;
  padding: 2px 15px;
}
.container-xl .img {
  position: r relative;
  width: 50%;
  max-width: 300px;
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 5%;
}
.container-xl .logo {
  padding: 8px 0;
  margin: 0 auto;
}
.container-xl .border-top {
  background-color: #f8df1f;
  height: 10px;
}
.container-xl .dine {
  background-color: #f3f3f3;
}
.container {
  position: relative;
  left: -10%;
}
.container .row {
  padding: 4% 0;
}
span {
  color: #ee252f;
}
.footer {
  background-color: #080801;
  position: fixed;
  width: 15%
    height: 150px;
}
.img .row-footer {
  z-index: 10;
}
.btn-order {
  background-color: #f8df1f;
  font-family: Roboto;
  font-size: 18px;
  color: #050500;
  font-weight: 500;
  border-radius: 8px;
  text-transform: uppercase;
  align-items: center;
}
.btn {
  background-color: #f8df1f;
  font-family: Roboto;
  font-size: 18px;
  color: #050500;
  font-weight: 500;
  border-radius: 8px;
  text-transform: uppercase;
}
h1 {
  font-family: Roboto;
  font-size: 30px;
  color: #050500;
  font-weight: 500;
  text-transform: uppercase;
}
h2 {
  font-family: Roboto;
  font-size: 30px;
  color: #050500;
  font-weight: 500;
}
