.navbar navbar-expand-lg navber-light bg-light {
    background-color: #f8df1f;
    text-decoration: none;


}

.footer {
    background-color: black;
}

.logo {
    
}

h1 {
    font-family: Roboto;
    font-size: 30px;
    color: #050500;
    font-weight: 500;
    text-transform: uppercase;
}

h2 {
    font-family: Roboto;
    font-size: 30px;
    color: #050500;
    font-weight: 500;
}

.container-fluid {
    background-color: black;
}
