.navbar-light {
  background-color: #f8df1f;
}
.navbar-light ul {
  list-style-type: none;
}
.navbar-light ul li {
  display: inline;
  padding: 2px 15px;
  font-size: 1.2em;
}
.container-fluid .img {
  position: relative;
  width: 50%;
  max-width: 300px;
  display: block;
  width: 100%;
  height: 20%;
  padding-bottom: 5%;
}
.container-fluid .navbar {
  height: 25%;
}
.container-fluid .logo {
  padding: 8px 0;
  margin: 0 auto;
}
.container-fluid .dine .row justify-content-center {
  background-color: #f3f3f3;
}
.container-fluid .row justify-content-center {
  padding-top: 3%;
}
.container-fluid .image {
  opacity: .8;
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.container-fluid .middle {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.container-fluid .middle .img-fluid {
  padding-top: 3%;
}
.row {
  padding-bottom: 5%;
}
.row.justify-content-center {
  background-color: #f3f3f3;
}
.container {
  position: relative;
  left: -10%;
}
span {
  color: #ee252f;
}
.btn-order {
  background-color: #f8df1f;
  font-family: Roboto;
  font-size: 18px;
  color: #050500;
  font-weight: 500;
  border-radius: 8px;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn {
  background-color: #f8df1f;
  font-family: Roboto;
  font-size: 18px;
  color: #050500;
  font-weight: 500;
  border-radius: 8px;
  text-transform: uppercase;
}
h1 {
  font-family: Roboto;
  font-size: 30px;
  color: #050500;
  font-weight: 500;
  text-transform: uppercase;
}
h2 {
  font-family: Roboto;
  font-size: 30px;
  color: #050500;
  font-weight: 500;
  text-transform: uppercase;
}
p {
  font-family: Roboto;
  font-size: 16px;
  color: #050500;
  font-weight: 400;
}
footer {
  position: fixed;
  bottom: 5%;
  width: 100%;
  height: 140px;
  background: #080801;
  border-top: solid 3px #f8df1f;
  background-image: url(img/logo.png);
  background-repeat: no-repeat;
  background-position: bottom;
}
